In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [6]:
arabica = "../Resources/arabica_data_cleaned.csv"
arabica_df = pd.read_csv(arabica)
arabica_df.head()
arabica_df.dtypes

Unnamed: 0                 int64
Species                   object
Owner                     object
Country.of.Origin         object
Farm.Name                 object
Lot.Number                object
Mill                      object
ICO.Number                object
Company                   object
Altitude                  object
Region                    object
Producer                  object
Number.of.Bags             int64
Bag.Weight                object
In.Country.Partner        object
Harvest.Year              object
Grading.Date              object
Owner.1                   object
Variety                   object
Processing.Method         object
Aroma                    float64
Flavor                   float64
Aftertaste               float64
Acidity                  float64
Body                     float64
Balance                  float64
Uniformity               float64
Clean.Cup                float64
Sweetness                float64
Cupper.Points            float64
Total.Cup.Points         float64
Moisture                 float64
Category.One.Defects       int64
Quakers                  float64
Color                     object
Category.Two.Defects       int64
Expiration                object
Certification.Body        object
Certification.Address     object
Certification.Contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

In [7]:
robusta = "../Resources/robusta_data_cleaned.csv"
robusta_df = pd.read_csv(robusta)
robusta_df.head()
robusta_df.dtypes

Unnamed: 0                 int64
Species                   object
Owner                     object
Country.of.Origin         object
Farm.Name                 object
Lot.Number                object
Mill                      object
ICO.Number                object
Company                   object
Altitude                  object
Region                    object
Producer                  object
Number.of.Bags             int64
Bag.Weight                object
In.Country.Partner        object
Harvest.Year               int64
Grading.Date              object
Owner.1                   object
Variety                   object
Processing.Method         object
Fragrance...Aroma        float64
Flavor                   float64
Aftertaste               float64
Salt...Acid              float64
Bitter...Sweet           float64
Mouthfeel                float64
Uniform.Cup              float64
Clean.Cup                float64
Balance                  float64
Cupper.Points            float64
Total.Cup.Points         float64
Moisture                 float64
Category.One.Defects       int64
Quakers                    int64
Color                     object
Category.Two.Defects       int64
Expiration                object
Certification.Body        object
Certification.Address     object
Certification.Contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

### Transform Arabica DataFrame

In [43]:
# Create a filtered dataframe from specific columns
arabica_cols = ["Species", "Country.of.Origin","Altitude","Region","Processing.Method","Aroma","Flavor","Aftertaste","Sweetness","Uniformity","Body","Clean.Cup","Balance","Cupper.Points","Moisture","Color"]
arabica_transformed= arabica_df[arabica_cols].copy()
arabica_transformed.head()

,Species,Country.of.Origin,Altitude,Region,Processing.Method,Aroma,Flavor,Aftertaste,Sweetness,Uniformity,Body,Clean.Cup,Balance,Cupper.Points,Moisture,Color
0,Arabica,Ethiopia,1950-2200,guji-hambela,Washed / Wet,8.67,8.83,8.67,10.0,10.0,8.50,10.0,8.42,8.75,0.12,Green
1,Arabica,Ethiopia,1950-2200,guji-hambela,Washed / Wet,8.75,8.67,8.50,10.0,10.0,8.42,10.0,8.42,8.58,0.12,Green
2,Arabica,Guatemala,1600 - 1800 m,NaN,NaN,8.42,8.50,8.42,10.0,10.0,8.33,10.0,8.42,9.25,0.00,NaN
3,Arabica,Ethiopia,1800-2200,oromia,Natural / Dry,8.17,8.58,8.42,10.0,10.0,8.50,10.0,8.25,8.67,0.11,Green
4,Arabica,Ethiopia,1950-2200,guji-hambela,Washed / Wet,8.25,8.50,8.25,10.0,10.0,8.42,10.0,8.33,8.58,0.12,Green

### Transform Robusta DataFrame

In [41]:
Robusta_cols = ["Species", "Country.of.Origin","Altitude","Region","Processing.Method","Fragrance...Aroma","Flavor","Aftertaste","Bitter...Sweet","Uniform.Cup","Mouthfeel","Clean.Cup","Balance","Cupper.Points","Moisture","Color"]
Robusta_transformed = robusta_df[Robusta_cols].copy()
Robusta_transformed.head()

,Species,Country.of.Origin,Altitude,Region,Processing.Method,Fragrance...Aroma,Flavor,Aftertaste,Bitter...Sweet,Uniform.Cup,Mouthfeel,Clean.Cup,Balance,Cupper.Points,Moisture,Color
0,Robusta,Uganda,1488,sheema south western,NaN,7.83,8.08,7.75,8.00,10.0,8.25,10.0,7.92,8.00,0.12,Green
1,Robusta,India,3170,chikmagalur karnataka indua,Washed / Wet,8.00,7.75,7.92,8.00,10.0,7.92,10.0,7.92,8.00,0.00,NaN
2,Robusta,India,1000m,chikmagalur,NaN,7.92,7.83,7.92,7.83,10.0,7.83,10.0,7.92,8.00,0.00,Green
3,Robusta,Uganda,1212,central,NaN,8.00,7.92,7.92,7.75,10.0,7.83,10.0,7.75,8.08,0.12,Green
4,Robusta,Uganda,1200-1300,luwero central region,NaN,8.33,7.83,7.83,7.58,10.0,8.25,10.0,7.75,7.67,0.12,Green

In [42]:
# Rename the column headers to align with Arabica dataframe
Robusta_transformed = Robusta_transformed.rename(columns={"Fragrance...Aroma": "Aroma",
                                                         "Bitter...Sweet": "Sweetness",
                                                         "Uniform.Cup": "Uniformity",
                                                         "Mouthfeel": "Body"})
Robusta_transformed.head()

,Species,Country.of.Origin,Altitude,Region,Processing.Method,Aroma,Flavor,Aftertaste,Sweetness,Uniformity,Body,Clean.Cup,Balance,Cupper.Points,Moisture,Color
0,Robusta,Uganda,1488,sheema south western,NaN,7.83,8.08,7.75,8.00,10.0,8.25,10.0,7.92,8.00,0.12,Green
1,Robusta,India,3170,chikmagalur karnataka indua,Washed / Wet,8.00,7.75,7.92,8.00,10.0,7.92,10.0,7.92,8.00,0.00,NaN
2,Robusta,India,1000m,chikmagalur,NaN,7.92,7.83,7.92,7.83,10.0,7.83,10.0,7.92,8.00,0.00,Green
3,Robusta,Uganda,1212,central,NaN,8.00,7.92,7.92,7.75,10.0,7.83,10.0,7.75,8.08,0.12,Green
4,Robusta,Uganda,1200-1300,luwero central region,NaN,8.33,7.83,7.83,7.58,10.0,8.25,10.0,7.75,7.67,0.12,Green

### Create database connection

In [15]:
connection_string = "postgres:1988Ysl_5@localhost:5432/Coffee_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# Confirm tables
engine.table_names()

[]

### Load DataFrames into database

In [52]:
arabica_transformed.to_sql(name='Arabica', con=engine, if_exists='append', index=False)

In [46]:
Robusta_transformed.to_sql(name='Robusta', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the coffee_db table

In [53]:
#Exam Tables
engine.table_names()

['Robusta', 'Arabica']

In [48]:
pd.read_sql_query('select * from Arabica', con=engine).head()

,Species,Country.of.Origin,Harvest.Year,Altitude,Region,Processing.Method,Aroma,Flavor,Aftertaste,Sweetness,Uniformity,Body,Clean.Cup,Balance,Cupper.Points,Moisture,Color
0,Arabica,Ethiopia,2014,1950-2200,guji-hambela,Washed / Wet,8.67,8.83,8.67,10.0,10.0,8.50,10.0,8.42,8.75,0.12,Green
1,Arabica,Ethiopia,2014,1950-2200,guji-hambela,Washed / Wet,8.75,8.67,8.50,10.0,10.0,8.42,10.0,8.42,8.58,0.12,Green
2,Arabica,Guatemala,None,1600 - 1800 m,None,None,8.42,8.50,8.42,10.0,10.0,8.33,10.0,8.42,9.25,0.00,None
3,Arabica,Ethiopia,2014,1800-2200,oromia,Natural / Dry,8.17,8.58,8.42,10.0,10.0,8.50,10.0,8.25,8.67,0.11,Green
4,Arabica,Ethiopia,2014,1950-2200,guji-hambela,Washed / Wet,8.25,8.50,8.25,10.0,10.0,8.42,10.0,8.33,8.58,0.12,Green

In [49]:
pd.read_sql_query('select * from Robusta', con=engine).head()

,Species,Country.of.Origin,Harvest.Year,Altitude,Region,Processing.Method,Aroma,Flavor,Aftertaste,Sweetness,Uniformity,Body,Clean.Cup,Balance,Cupper.Points,Moisture,Color
0,Robusta,Uganda,2013,1488,sheema south western,None,7.83,8.08,7.75,8.00,10.0,8.25,10.0,7.92,8.00,0.12,Green
1,Robusta,India,2017,3170,chikmagalur karnataka indua,Washed / Wet,8.00,7.75,7.92,8.00,10.0,7.92,10.0,7.92,8.00,0.00,None
2,Robusta,India,2015,1000m,chikmagalur,None,7.92,7.83,7.92,7.83,10.0,7.83,10.0,7.92,8.00,0.00,Green
3,Robusta,Uganda,2013,1212,central,None,8.00,7.92,7.92,7.75,10.0,7.83,10.0,7.75,8.08,0.12,Green
4,Robusta,Uganda,2013,1200-1300,luwero central region,None,8.33,7.83,7.83,7.58,10.0,8.25,10.0,7.75,7.67,0.12,Green